body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    
}
header {
background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}
h1{
    font-family: 'Helvetica', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
.brushes {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
span{
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: blue;
}
.frames{
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
.paint {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}